<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Dish Review</title>
  </head>
  <body>
    <h1>{{dish_review.dish.name}}  from {{dish_review.dish.restaurant.name}}</h1>
    {% if dish_review.dish.dish_profile_pic.name == "" %}
      <p><img src="{% static "images/default-dish-profile.png" %}"></p>
    {% else %}
      <p><img src="{{dish_review.dish.dish_profile_pic.url}}"></p>
    {% endif %}
    <form action = "{% url "edit_dish_review" dish_review.id %}"method="POST">
      {% csrf_token %}
      <label>Edit Here:</label>
      <input type="textarea" value="{{dish_review.review}}" name="new_dish_review">
      <input type="submit">
    </form>
  </body>
</html>
