<!-- Login fail Page
	Show login button and sign up button -->

<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
	<head>
	  <title>Sign Up error</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<a href="{% url "index" %}" class = "navbar-brand">
						<img src="{% static "images/logo.png" %}" alt-"MakaNUS logo" width="216" height="60">
					</a>
				</div>
				<div class="col-sm-6 ">
					<br>
					<br>
					<form action="{% url "search" %}" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by keyword, location, cuisine, etc." name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
				</div>
			</div>

			<br>

			<div class="row naviBarBackground">
				<a href="{% url "index" %}" class="naviBar"> <span class="glyphicon glyphicon-home"></span> Home</a>
				<span class="naviBar"> > </span>
				<span class="naviBar"> <strong> Login </strong></span>
			</div>

      <div class="row" style="text-align:center;">
        <h3 style="color:red;"> Login failed! Please check your username and password! </h3>
        <a href="{% url "login" %}">
        <button type="button" class="btn btn-info" style="background-color: rgb(8, 0, 129);">Try Again</button> </a>
        <h3 class="words" style="">If you don't have an account, please sign up!</h3>
        <a href="{% url "signup" %}">
        <button type="button" class="btn btn-info" style="background-color: rgb(8, 0, 129);">Sign Up</button> </a>
      </div>

      <br>

      <div>
				<div class="row naviBarBackground">
					<span style="font-size:16px;padding:10px;color:RGB(8,0,129);">Line Break</span>
				</div>
				<img src="{% static "images/logo.png" %}" alt="MakaNUS logo" class="img-responsive center-block" style="width:144px; height:55px; padding:10px;">
				<p style="text-align:center;"> © 2018 MakaNUS, all rights reserved. </p>
			</div>

    </div>
  </body>
</html>
