<!-- User profile Page -->

<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <title>{{profile_user.first_name}}'s Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/userProfile.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <!-- MakaNUS logo -->
				<div class="col-sm-3">
					<a href="{% url "index" %}" class = "navbar-brand">
						<img src="{% static "images/logo.png" %}" alt-"MakaNUS logo" width="216" height="60">
					</a>
				</div>
        <!-- Search bar -->
				<div class="col-sm-6 ">
					<br>
					<br>
					<form action="{% url "search"%}" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by keyword, location, genre, etc." name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
				</div>
        <!-- Show signup/login buttons or user name if signed in -->
        <div class="col-sm-3" style="padding-top:40px;">

          {% if user.is_authenticated %}

          <div class="dropdown" style="float:right;text-align:right;">

            {% if user.userprofile.profile_pic.name == "" %}
            {% else %}
              <img src="{{user.userprofile.profile_pic.url}}" style="width:15%;border-radius:50%;">
            {% endif %}
            <span style="font-size:16px;text-align:right;"><strong> Welcome, {{user.first_name}}! </strong> <span>

            <!-- Dropdown list -->
            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: rgb(8, 0, 129);">
            <span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right">
              <li><a href="{% url "profile" user.id %}">My Profile</a></li>
              <li><a href="{% url "logout" %}">Logout</a></li>
            </div>

          </div>

          {% else %}
            <a href="{% url "signup" %}">
            <button type="button" class="btn btn-info pull-right" style="background-color: rgb(8, 0, 129);">Sign Up</button> </a>
            <a href="{% url "login" %}">
            <button type="button" class="btn btn-info pull-right" style="background-color: rgb(8, 0, 129);">Login</button> </a>
          {% endif %}

        </div>
			</div>

      <br>


      <!-- Navigation bar -->
			<div class="row naviBarBackground" style="margin-bottom:15px;">
				<a href="{% url "index" %}" class="naviBar"> <span class="glyphicon glyphicon-home"></span> Home</a>
				<span class="naviBar"> > </span>
				<span class="naviBar"> <strong> {{profile_user.first_name}}'s Profile </strong></span>
			</div>

      <!-- Copy up to this point to other pages -->

      <div class="row">
        <div class="col-sm-3">
          <!-- Profile Picture -->
          {% if profile_user.userprofile.profile_pic.name == "" %}
            <p><img src="{% static "images/default-user-profile.png" %}" style="width:90%;margin:15px;"></p>
          {% else %}
            <p><img src="{{profile_user.userprofile.profile_pic.url}}" style="width:90%;margin:15px;"></p>
          {% endif %}
        </div>

        <div class="col-sm-6">
          <!-- Profile Name -->
          <h1>{{profile_user.first_name}} {{profile_user.last_name}} ({{profile_user.username}})</h1>
          <!-- Other Profile Information -->
          <p class="userDetail"><strong>Year:</strong> {{profile_user.userprofile.year}}</p>
          <p class="userDetail"><strong>Faulty:</strong> {{profile_user.userprofile.faculty}}</p>
          <p class="userDetail"><strong>Course of Study:</strong> {{profile_user.userprofile.course}}</p>
          <p class="userDetail"><strong>About me:</strong> {{profile_user.userprofile.about_me}}</p>

          <!-- If user is the owner of the profile, profile can be edited. -->
          {% if user.id == profile_user.id %}
            <a href = "{% url "edit_profile" user.id %}"><button type="button" class="btn btn-info btn-sm" style="background-color:rgb(8, 0, 129)">Edit Profile</button></a>
          {% endif %}

        </div>

        <div class="col-sm-3">
          <!-- Add no. of reviews, date joined, etc. -->
        </div>
      </div>

      <!-- Tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#restaurantReview">Restaurant Reviews</a></li>
        <li><a data-toggle="tab" href="#dish">Dish Reviews</a></li>
        <!-- Disabled -->
        <li><a data-toggle="tab" href="#photo">Photos Uploaded</a></li>
      </ul>

      <br>

      <div class="tab-content">
        <div id="restaurantReview" class="tab-pane fade in active">
          <!-- Restaurant Reviews -->

          {% for review in profile_user.restaurantreview_set.all %}
            <div class="row" style="border:1px solid;border-radius:20px;padding:15px;margin:30px;">
              <!-- Restaurant Name -->
              <h3 style="text-indent:15px;"><a href = "{% url "restaurant" review.restaurant.id %}">{{review.restaurant.name}}</a></h3>
              <hr>
              <div class="col-sm-2" style="padding:15px;">
                <!-- Restaurant Profile Picture -->
                {% if review.restaurant.restaurant_profile_pic.name == "" %}
                  <img src="{% static "images/default-restaurant-profile.png" %}" class="center-block" width="80%">
                {% else %}
                  <img src="{{review.restaurant.restaurant_profile_pic.url}}" class="center-block" width="80%">
                {% endif %}
              </div>
              <div class="col-sm-6" style="padding:15px;">
                <!-- Restaurant Review -->
                <p>{{review.review}}</p>
                <!-- Restaurant Review Rating -->
                <p><strong>Average review rating: </strong>{{review.get_average_rating}}</p>
                <div class="row" style="margin-left:5px;">
                  <!-- Edit/Delete Restaurant Review -->
                  {% if user.id == profile_user.id %}
                    <button type="button" class="btn btn-info btn-sm" style="background-color: rgb(8, 0, 129);" data-toggle="modal" data-target="#EditStallReview{{review.id}}">Edit Review</button>
                    <button type="button" class="btn btn-info btn-sm" style="background-color: rgb(8, 0, 129);" data-toggle="modal" data-target="#DeleteStallReview{{review.id}}">Delete Review</button>
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-3" style="padding:15px;">
                <div class="row" style="padding:15px;">
                  <!-- Add Restaurant Review Rating -->
                  <!-- Lol what is this supposed to do actually? -->
                  {% if user.is_authenticated %}
                    <p><strong>Rate this review (5 is the highest)</strong></p>
                    <form action="{% url "add_restaurant_review_rating" review.id %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{ request.path }}">
                      <select name="restaurant_review_rating">
                        <option value = 1> 1 </option>
                        <option value = 2> 2 </option>
                        <option value = 3> 3 </option>
                        <option value = 4> 4 </option>
                        <option value = 5> 5 </option>
                      </select>
                      <input type="submit">
                    </form>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Edit Review Modal -->
            <div class="modal fade" id="EditStallReview{{review.id}}" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title title">Edit Restaurant Review</h4>
                  </div>
                  <div class="modal-body">
                    <form action = "{% url "edit_restaurant_review" review.id %}" method="POST">
                      {% csrf_token %}
                      <textarea rows="7" style="margin:15px;width:95%;" name="new_restaurant_review">{{review.review}}</textarea> <br>
                      <input type="submit">
                    </form>
                  </div>
                </div>

              </div>
            </div>

            <!-- Delete Review Modal -->
            <div class="modal fade" id="DeleteStallReview{{review.id}}" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title title">Delete Restaurant Review</h4>
                  </div>
                  <div class="modal-body">
                    <form action = "{% url "delete_restaurant_review" review.id %}"method="POST">
                      {% csrf_token %}
                      <p><label>Are you sure you want to delete this review?</label></p>
                      <p> {{review.review}} <p>

                      <input type="submit" value="Yes">
                    </form>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}

        </div>

        <div id="dish" class="tab-pane fade">
          <!-- Dish Reviews -->
          {% for review in profile_user.dishreview_set.all %}
            <div class="row" style="border:1px solid;border-radius:20px;padding:15px;margin:30px;">
              <!-- Dish Name and the restaurant that serves the dish-->
              <h3 style="text-indent:15px;"><a href="{% url "dish" review.dish.id %}">{{review.dish.name}} (<a href = "{% url "restaurant" review.dish.restaurant.id %}">{{review.dish.restaurant.name}}</a>)</h3>
              <hr>
              <div class="col-sm-2" style="padding:15px;">
                <!-- Dish Profile Picture -->
                {% if review.dish.dish_profile_pic.name == "" %}
                  <img src="{% static "images/default-dish-profile.png" %}" class="center-block" width="80%">
                {% else %}
                  <img src="{{review.dish.dish_profile_pic.url}}" class="center-block" width="80%">
                {% endif %}
              </div>
              <div class="col-sm-6" style="padding:15px;">
                <!-- Dish Review -->
                <p>{{review.review}}</p>
                <!-- Dish Review Rating -->
                <p><strong>Average review rating: </strong>{{review.get_average_rating}}</p>
                <div class="row" style="margin-left:5px;">
                  <!-- Edit/Delete Dish Review -->
                  {% if user.id == profile_user.id %}
                    <button type="button" class="btn btn-info btn-sm" style="background-color: rgb(8, 0, 129);" data-toggle="modal" data-target="#EditDishReview{{review.id}}">Edit Review</button>
                    <button type="button" class="btn btn-info btn-sm" style="background-color: rgb(8, 0, 129);" data-toggle="modal" data-target="#DeleteDishReview{{review.id}}">Delete Review</button>
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-3" style="padding:15px;">
                <div class="row" style="padding:15px;">
                  <!-- Add Restaurant Review Rating -->
                  <!-- Lol what is this supposed to do actually? -->
                  {% if user.is_authenticated %}
                    <p><strong>Rate this review (5 is the highest)</strong></p>
                    <form action="{% url "add_dish_review_rating" review.id %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{ request.path }}">
                      <select name="dish_review_rating">
                        <option value = 1> 1 </option>
                        <option value = 2> 2 </option>
                        <option value = 3> 3 </option>
                        <option value = 4> 4 </option>
                        <option value = 5> 5 </option>
                      </select>
                      <input type="submit">
                    </form>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Edit Review Modal -->
            <div class="modal fade" id="EditDishReview{{review.id}}" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title title">Edit Dish Review</h4>
                  </div>
                  <div class="modal-body">
                    <form action = "{% url "edit_dish_review" review.id %}"method="POST">
                      {% csrf_token %}
                      <textarea rows="7" cols="50" style="margin:15px;" name="new_dish_review">{{review.review}}</textarea> <br>
                      <input type="submit">
                    </form>
                  </div>
                </div>

              </div>
            </div>

            <!-- Delete Review Modal -->
            <div class="modal fade" id="DeleteDishReview{{review.id}}" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title title">Delete Dish Review</h4>
                  </div>
                  <div class="modal-body">
                    <form action = "{% url "delete_dish_review" review.id %}"method="POST">
                      {% csrf_token %}
                      <label>Are you sure you want to delete this review?</label> <br>
                      <input type="submit" >
                    </form>
                  </div>
                </div>

              </div>
            </div>

          {% endfor %}

        </div>

        <div id="photo" class="tab-pane fade">
          <!-- Photos Uploaded -->
          <h1>Photos Uploaded</h1>
          {% for restaurant_photo in profile_user.restaurantphoto_set.all %}
            <!-- Restaurant that photo belongs to -->
            <h2><a href = "{% url "restaurant" restaurant_photo.restaurant.id %}">{{restaurant_photo.restaurant.name}}</h2></p>
            <!-- Restaurant photo -->
            <p><img src="{{restaurant_photo.photo.url}}"></p>
            <!-- Delete photo -->
            {% if user.id == profile_user.id %}
              <p><a href="{% url "delete_restaurant_photo" restaurant_photo.id %}">Delete</a></p>
            {% endif %}
          <hr>
          {% endfor %}
        </div>
      </div>

      <!-- Page footer -->
      <div>
				<div class="row naviBarBackground">
					<span style="font-size:16px;padding:10px;color:RGB(8,0,129);">Line Break</span>
				</div>
				<img src="{% static "images/logo.png" %}" alt="MakaNUS logo" class="img-responsive center-block" style="width:144px; height:55px; padding:10px;">
				<p style="text-align:center;"> © 2018 MakaNUS, all rights reserved. </p>
			</div>

    </div>
  </body>
<html>
