<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{profile_user.first_name}}'s Profile</title>
  </head>
  <body>
  <!-- Navbar: Link to Home Page -->
    <p><a href="{% url "index" %}">Home</a></p>
  <!-- Navbar: Search bar -->
    <p><form action="{% url "search" %}" method="GET">
        {% csrf_token %}
        <label>Search Function:</label>
        <input type="text" placeholder="Search here!" name = "q">
      </form></p>
  <!-- Navbar: Sign up/Login/Logout/My Profile -->
    {% if user.is_authenticated %}
      <p><a href="{% url "profile" user.id %}">My Profile</a></p>
      <p><a href="{% url "logout" %}">Logout</a></p>
    {% else %}
      <p><a href="{% url "signup" %}">Sign Up</a></p>
      <p><a href="{% url "login" %}">Login</a></p>
    {% endif %}
    <hr>

  <!-- Username -->
    <h1>{{profile_user.username}}</h1>
  <!-- Profile Name -->
    <h1>{{profile_user.first_name}} {{profile_user.last_name}}</h1>
  <!-- Profile Picture -->
    {% if profile_user.userprofile.profile_pic.name == "" %}
      <p><img src="{% static "images/default-user-profile.png" %}"></p>
    {% else %}
      <p><img src="{{profile_user.userprofile.profile_pic.url}}"></p>
    {% endif %}
    <!-- Other Profile Information -->
    <p>Year: {{profile_user.userprofile.year}}</p>
    <p>Faulty: {{profile_user.userprofile.faculty}}</p>
    <p>Major: {{profile_user.userprofile.major}}</p>
    <p>About me: {{profile_user.userprofile.about_me}}</p>
    <hr>

    <!-- Restaurant Reviews -->
    <h1>Restaurant Reviews</h1>
      {% for review in profile_user.restaurantreview_set.all %}
        <!-- Restaurant Name -->
        <h2><a href = "{% url "restaurant" review.restaurant.id %}">{{review.restaurant.name}}</a></h2>
        <!-- Restaurant Profile Picture -->
        {% if review.restaurant.restaurant_profile_pic.name == "" %}
          <p><img src="{% static "images/default-restaurant-profile.png" %}"></p>
        {% else %}
          <p>Restaurant Profile Picture: <img src="{{review.restaurant.restaurant_profile_pic.url}}"></p>
        {% endif %}
        <!-- Restaurant Review -->
        <p>{{review.review}}</p>
        <!-- Restaurant Review Rating -->
        <p>{{review.get_average_rating}}</p>
        <!-- Add Restaurant Review Rating -->
        {% if user.is_authenticated %}
          <form action="{% url "add_restaurant_review_rating" review.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <select name="restaurant_review_rating">
              <option value = 1> 1 </option>
              <option value = 2> 2 </option>
              <option value = 3> 3 </option>
              <option value = 4> 4 </option>
              <option value = 5> 5 </option>
            </select>
            <input type="submit">
          </form>
        {% endif %}
        <!-- Edite/Delete Restaurant Review -->
        {% if user.id == profile_user.id %}
          <p><a href="{% url "edit_restaurant_review" review.id %}">Edit</a></p>
          <p><a href="{% url "delete_restaurant_review" review.id %}">Delete</a></p>
        {% endif %}
      <hr>
      {% endfor %}

    <!-- Dish Reviews -->
    <h1>Dish Reviews</h1>
    {% for review in profile_user.dishreview_set.all %}
      <!-- Dish Name -->
      <h2>{{review.dish.name}}</h2>
      <!-- Restaurant that Dish belongs to -->
      <p>of <a href = "{% url "restaurant" review.dish.restaurant.id %}">{{review.dish.restaurant.name}}</a></p>
      <!-- Dish Profile Picture -->
      {% if review.dish.dish_profile_pic.name == "" %}
        <p><img src="{% static "images/default-dish-profile.png" %}"></p>
      {% else %}
        <p><img src="{{review.dish.dish_profile_pic.url}}"></p>
      {% endif %}
      <!-- Dish Review -->
      <p>{{review.review}}</p>
      <!-- Dish Review Rating -->
      <p>{{review.get_average_rating}}</p>
      <!-- Add Dish Review Rating -->
      {% if user.is_authenticated %}
        <form action="{% url "add_dish_review_rating" review.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <select name="dish_review_rating">
            <option value = 1> 1 </option>
            <option value = 2> 2 </option>
            <option value = 3> 3 </option>
            <option value = 4> 4 </option>
            <option value = 5> 5 </option>
          </select>
          <input type="submit">
        </form>
      {% endif %}
      <!-- Edit/Delete Dish Review -->
      {% if user.id == profile_user.id %}
        <p><a href="{% url "edit_dish_review" review.id %}">Edit</a></p>
        <p><a href="{% url "delete_dish_review" review.id %}">Delete</a></p>
      {% endif %}

      <hr>
      {% endfor %}

      <!-- Photos Uploaded -->
      <h1>Photos Uploaded</h1>
        {% for restaurant_photo in profile_user.restaurantphoto_set.all %}
          <!-- Restaurant that photo belongs to -->
          <h2><a href = "{% url "restaurant" restaurant_photo.restaurant.id %}">{{restaurant_photo.restaurant.name}}</h2></p>
          <!-- Restaurant photo -->
          <p><img src="{{restaurant_photo.photo.url}}"></p>
          <!-- Delete photo -->
          {% if user.id == profile_user.id %}
            <p><a href="{% url "delete_restaurant_photo" restaurant_photo.id %}">Delete</a></p>
          {% endif %}
        <hr>
        {% endfor %}
  </body>
</html>
