<!-- Restaurant details
  To-do list: Open sign, waiting time, photo uploading, tab contents -->

<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <title>{{restaurant.name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/restaurantDetail.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <!-- MakaNUS logo -->
				<div class="col-sm-3">
					<a href="{% url "index" %}" class = "navbar-brand">
						<img src="{% static "images/logo.png" %}" alt-"MakaNUS logo" width="216" height="60">
					</a>
				</div>
        <!-- Search bar -->
				<div class="col-sm-6 ">
					<br>
					<br>
					<form action="{% url "search"%}" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by keyword, location, cuisine, etc." name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
				</div>
        <!-- Show signup/login buttons or user name if signed in -->
        <div class="col-sm-3" style="padding-top:40px;">

          {% if user.is_authenticated %}

          <div class="dropdown" style="float:right;text-align:right;">

            {% if user.userprofile.profile_pic.name == "" %}
            {% else %}
              <img src="{{user.userprofile.profile_pic.url}}" style="width:15%;border-radius:50%;">
            {% endif %}
            <span style="font-size:16px;text-align:right;"><strong> Welcome, {{user.first_name}}! </strong> <span>

            <!-- Dropdown list -->
            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: rgb(8, 0, 129);">
            <span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right">
              <li><a href="{% url "profile" user.id %}">My Profile</a></li>
              <li><a href="{% url "logout" %}">Logout</a></li>
            </div>

          </div>

          {% else %}
            <a href="{% url "signup" %}">
            <button type="button" class="btn btn-info pull-right" style="background-color: rgb(8, 0, 129);">Sign Up</button> </a>
            <a href="{% url "login" %}">
            <button type="button" class="btn btn-info pull-right" style="background-color: rgb(8, 0, 129);">Login</button> </a>
          {% endif %}

        </div>
			</div>
      <br>
      <!-- Navigation bar -->
			<div class="row naviBarBackground" style="margin-bottom:15px;">
				<a href="{% url "index" %}" class="naviBar"> <span class="glyphicon glyphicon-home"></span> Home</a>
				<span class="naviBar"> > </span>
        <a href=# class="naviBar"> Search Results </a>
        <span class="naviBar"> > </span>
				<span class="naviBar"> <strong> {{restaurant.name}} </strong></span>
			</div>

      <!-- Copy up to this point to other pages -->

      <div class="row">
        <!-- Restaurant Name -->
        <div class="col-sm-8">
          <h2 class="words" style="font-weight:bold;"> {{restaurant.name}} </h2>
        </div>
        <!-- Open/closed sign -->
        <div class="col-sm-4">
          {% if restaurant.is_open %}
            <img src="{% static "images/open.png" %}" alt="open" class="topRight img-responsive" style="width:40%;margin-top:10px;">
          {% else %}
            <img src="{% static "images/close.png" %}" alt="close" class="topRight img-responsive" style="width:40%;margin-top:10px;">
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="row">
        <!-- Restaurant profile picture -->
        <div class="col-sm-3">
          {% if restaurant.restaurant_profile_pic.name == "" %}
            <img src="{% static "images/default-restaurant-profile.png" %}" style="width:96%;padding:10px;">
          {% else %}
            <img src="{{restaurant.restaurant_profile_pic.url}}" style="width:96%;padding:10px;">
          {% endif %}
        </div>
        <div class="col-sm-7">
          <!-- Category, to be done -->
          <!-- <p> <strong>Category:</strong>
            <a href=#> Western </a>
            <a href=#> Canteen </a>
            <a href=#> Techno Edge </a>
          </p> -->
          <!-- Restaurant location -->
          <p><strong>Rating: </strong>{{restaurant.get_average_rating}}   <em>({{restaurant.number_of_reviews}} reviews)</em></p>
            {% if user.is_authenticated %}
            <p><form action="{% url "add_restaurant_rating" restaurant.id %}" method="post">
              {% csrf_token %}
              <select name="restaurant_rating">
                <option value = 1> 1 </option>
                <option value = 2> 2 </option>
                <option value = 3> 3 </option>
                <option value = 4> 4 </option>
                <option value = 5> 5 </option>
              </select>
              <button type="submit" id="submit" class="btn btn-default btn-xs formButton" style="margin-right:20px;background-color:rgb(8, 0, 129);color:rgb(255, 255, 255);">Rate</button>
            </form></p>
            {% endif %}
          <p><strong> Location: </strong>{{restaurant.location}}</p>
          <p><strong>Address:</strong></p> <p>{{restaurant.address}} </p>
          <p><strong>Information: </strong></p> <p>{{restaurant.information}} </p>

          <!-- When authenticated, review and upload photo form -->
          <div class="row">
            {% if user.is_authenticated %}
              <button type="button" class="btn btn-info btn-lg" style="background-color: rgb(90, 123, 255);margin:15px;border:0px;" data-toggle="modal" data-target="#WriteReview">Review</button>
              <button type="button" class="btn btn-info btn-lg" style="background-color: rgb(214, 165, 25);margin:15px;border:0px;" data-toggle="modal" data-target="#PhotoUpload">Upload a Photo</button>
            {% endif %}
          </div>
        </div>
        <!--Waiting time & crowd condition -->
        <div class="col-sm-2" style="border:1px solid;border-radius:5px;padding:15px;">
          <img src="{% static "images/clock.png" %}" alt="clock" class="img-responsive center-block" width="40%">
          <p class="time" style="margin-top:15px;font-size:14px;text-align:center;"> Estimated Waiting Time:<br>{{ restaurant.get_waiting_time }} </p>
          <form id="sliderForm" action="{% url "add_waiting_time" restaurant.id %}" method="POST">
            {% csrf_token %}
            <div class="slidecontainer">
              <input type="range" class="slider" id="waiting_time" name="waiting_time" min="0" max="15" value="0">
            </div>
            <p style="font-size:14px;margin:5px;">Minutes: <span id="currentValue"></span>
            <button type="submit" id="submit" class="btn btn-default btn-xs formButton" style="background-color:rgb(8, 0, 129);color:rgb(255, 255, 255);">Submit</button>
          </form>

          <!-- javascript for displaying the value of range form -->
          <script>
            var oForm;
            oForm = document.getElementById("sliderForm");
            var slider = oForm.elements['waiting_time'];
            var output = document.getElementById("currentValue");

            output.innerHTML = slider.value;

            slider.oninput = function() {
              output.innerHTML = this.value;
            }
          </script>

          <hr>

          <p class="time" style="margin-top:15px;font-size:16px;text-align:center;"> Crowd Condition: <br> {{ restaurant.get_crowd_condition }} </p>
          <form action="{% url "add_crowd_condition" restaurant.id %}" method="POST">
            {% csrf_token %}
            <select name="crowd_condition">
              <option value = 1> Not busy </option>
              <option value = 2> Fairly busy </option>
              <option value = 3> Very Busy </option>
            </select>
            <button type="submit" id="submit" class="btn btn-default btn-xs formButton" style="margin:5px;background-color:rgb(8, 0, 129);color:rgb(255, 255, 255);">Submit</button>
          </form>
        </div>
      </div>
      <hr>

      <!-- Tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
        <li><a data-toggle="tab" href="#menu">Menu</a></li>
        <li><a data-toggle="tab" href="#photos">Photos</a></li>
        <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
      </ul>
      <br>
			<div class="tab-content">
        <!-- Overview tab -->
			  <div id="overview" class="tab-pane fade in active">
          <!-- To be done -->
					<div class="row">
		        <div class="col-sm-5 textBox" style="margin-left:70px;">
		          <h3 class="words"><strong>Most Recent Reviews</strong></h3>
		          <hr>
              {% for review in restaurant.get_restaurant_reviews_most_recent|slice:":2" %}
                <div style="margin:20px;padding:20px;border:1px solid;border-radius:8px;border-color:RGB(230,230,230);" >
                  <h5> <a href=# style="font-size:18px;"> {{review.user.first_name}} </a> </h5>
                  <p style="font-size:14px;"> {{review.review}} </p>
                  <p style="font-size:14px;"><em> Posted on: {{review.get_time}} </em></p>
                </div>
              {% endfor %}
		        </div>
		        <div class="col-sm-5 textBox">
		          <h3 class="words"><strong>Most Recent Photos</strong></h3>
		          <hr>
              {% for restaurant_photo in restaurant.get_restaurant_photos|slice:":6" %}
                <div class="col-sm-4" style="margin:5px;padding:5px;border:1px solid;border-radius:8px;border-color:RGB(230,230,230);" >
                  <p><img src="{{restaurant_photo.photo.url}}" style="width:100%"></p>
                  <p style="font-size:14px;"><em> Posted on: <br>{{restaurant_photo.get_time}}</em></p>
                </div>
              {% endfor %}
		        </div>
		      </div>
		      <br>
		      <p> <strong> Opening Hours: </strong> </p>
          <ul>
            <li><span style="font-size:16px;line-height:30px;">Monday: {{restaurant.openinghours.monday_from}} to {{restaurant.openinghours.monday_to}}</span></li>
            <li><span style="font-size:16px;line-height:30px;">Tuesday: {{restaurant.openinghours.tuesday_from}} to {{restaurant.openinghours.tuesday_to}}</span></li>
            <li><span style="font-size:16px;line-height:30px;">Wednesday: {{restaurant.openinghours.wednesday_from}} to {{restaurant.openinghours.wednesday_to}}</span></li>
            <li><span style="font-size:16px;line-height:30px;">Thursday: {{restaurant.openinghours.thursday_from}} to {{restaurant.openinghours.thursday_to}}</span></li>
            <li><span style="font-size:16px;line-height:30px;">Friday: {{restaurant.openinghours.friday_from}} to {{restaurant.openinghours.friday_to}}</span></li>
            <li><span style="font-size:16px;line-height:30px;">Saturday: {{restaurant.openinghours.saturday_from}} to {{restaurant.openinghours.saturday_to}}</span></li>
            <li><span style="font-size:16px;line-height:30px;">Sunday: {{restaurant.openinghours.sunday_from}} to {{restaurant.openinghours.sunday_to}}</span></li>
          </ul>
          <!-- To be done -->
		      <!-- <p> <strong>Price:</strong> ~S$4 per pax </p>
		      <p> <strong>Method of Payment:</strong> Cash, PayLah </p>
		      <p> <strong>Address:</strong> {{restaurant.address}} </p>
		      <p> <strong>Closed on:</strong> Sundays, public holidays </p> -->
			  </div>
        <!-- Menu tab -->
			  <div id="menu" class="tab-pane fade">
          <!-- To be done -->
			    <h3 class="words"><strong>Most Popular</strong></h3>
					<hr>
  			    <div class="row">
              {% if restaurant.highest_rated_dish %}
    						<div class="col-sm-3">
                  {% if restaurant.highest_rated_dish.dish_profile_pic.name == "" %}
                    <img src="{% static "images/default-dish-profile.png" %}" style="width:80%;">
                  {% else %}
                    <img src="{{restaurant.highest_rated_dish.dish_profile_pic.url}}" style="width:80%;">
                  {% endif %}
    						</div>
    						<div class="col-sm-3">
    							<h3 class="words" style="line-height: 1.8;"> <strong><a href="{% url "dish" restaurant.highest_rated_dish.id %}"> {{restaurant.highest_rated_dish.name}} </a></strong> <br> {{restaurant.highest_rated_dish.price}} </h3>
    							<p class="rate"> <img src="{% static "images/Thumbs_up.png" %}" alt="Thumbs up" style="width:10%;float:left;">
    								{{restaurant.highest_rated_dish.get_average_rating}} </p>
    						</div>
              {% endif %}
              <div class="col-sm-6">
                <p> Is the menu you are looking for missing?
                  <a href="{% url "add_dish" restaurant.id %}">
                  <button type="button" class="btn btn-info btn-lg" style="background-color: rgb(90, 123, 255);margin:15px;border:0px;">Add to Menu</button></a></p>
              </div>
  					</div>

					<hr>
          <div class="row">
            {% for dish in restaurant.get_verified_dishes %}
              <div class="col-sm-4" style="padding:15px;">
                <div class="col-sm-6">
                  {% if dish.dish_profile_pic.name == "" %}
                    <img src="{% static "images/default-dish-profile.png" %}" style="width:80%;">
                  {% else %}
                    <img src="{{dish.dish_profile_pic.url}}" style="width:80%;">
                  {% endif %}
                </div>
                <div class="col-sm-6">
                  <p><strong><a href = "{% url "dish" dish.id %}">{{dish.name}}</a></strong></p>
                  <p> $ {{dish.price}} </p>
                  <p class="rate"> <img src="{% static "images/Thumbs_up.png" %}" alt="Thumbs up" style="width:15%;float:left;">
    								{{dish.get_average_rating}} </p>
                  <!-- Add Dish Rating -->
                  <p>
                  {% if user.is_authenticated %}
                    <form action="{% url "add_dish_rating" dish.id %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{ request.path }}">
                      <select name="dish_rating">
                        <option value = 1> 1 </option>
                        <option value = 2> 2 </option>
                        <option value = 3> 3 </option>
                        <option value = 4> 4 </option>
                        <option value = 5> 5 </option>
                      </select>
                      <input type="submit">
                    </form>
                    {% endif %}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
			  </div>
        <!-- Photos tab, to be done -->
        <div id="photos" class="tab-pane fade">
          <h3 class="words"><strong>Uploaded Photos</strong></h3>
          <hr>
          <div class="row" style="margin-bottom:15px;">
            {% for restaurant_photo in restaurant.restaurantphoto_set.all %}
            <div class="col-sm-3" style="margin:5px;padding:5px;">
              <p><img src="{{restaurant_photo.photo.url}}" style="width:100%"></p>
              <p><em>Uploaded by <a href="{% url "profile" restaurant_photo.user.id %}">{{restaurant_photo.user}}</a></em> </p>
              <!-- Delete photo -->
              {% if user.id == restaurant_photo.user.id %}
              <a href="{% url "delete_restaurant_photo" restaurant_photo.id %}">
              <button type="button" class="btn btn-info btn-sm" style="background-color: rgb(8, 0, 129);">Remove photo</button> </a>
              {% endif %}
            </div>
          {% endfor %}
          </div>
          <br>
        </div>
        <!-- Reviews tab -->
				<div id="reviews" class="tab-pane fade">
          <!-- Sorting, to be done -->
			    <!-- <div class="row">
						<p class="words" style="margin:15px;"> Sort by:
							<span style="font-weight:bold;margin:15px;"> Highest Rated </span>
							<a href=#> Recent </a>
						</p>
					</div> -->
          <!-- Restaurant Reviews -->
          {% for review in restaurant.get_restaurant_reviews %}
  					<div class="row reviewBox">
              <!-- User information -->
  						<div class="col-sm-2 words" style="text-align:center;">
                {% if review.user.userprofile.profile_pic.name == "" %}
                  <img src="{% static "images/default-user-profile.png" %}" style="margin:10px;width:100%;">
                {% else %}
                  <img src="{{review.user.userprofile.profile_pic.url}}" style="margin:10px;width:100%;">
                {% endif %}
  							<a href=# style="font-size:18px;"> {{review.user.first_name}} </a>
  							<!-- <p style="font-size:12px;"><i> Certified reviewer </i></p> -->
  						</div>

  						<div class="col-sm-10 words">
                <!-- Review title & Score given & Number of endorsement, to be done -->
  							<div class="row">
  								<!-- <p style="text-indent:20px;"> <strong> Great food at great price! </strong> {{review.get_average_rating}} -->
  									<!-- <span style="font-size:12px;text-decoration:underline;"> 17 users have endorsed this review </span> -->
  								</p>
  							</div>
                <!-- Review -->
  							<p> {{review.review}} </p>
                <hr>
                <!-- Review Rating -->
                <p><em>This review is rated <strong>{{review.get_average_rating}} / 5.0</strong></em> </p>

                <!-- Date & Time of posting -->
  							<p style="color:grey;font-size:12px;"> {{review.get_time}} </p>
                <!-- Give Review Rating -->
                {% if user.is_authenticated %}
                  <form action="{% url "add_restaurant_review_rating" review.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <select name="restaurant_review_rating">
                      <option value = 1> 1 </option>
                      <option value = 2> 2 </option>
                      <option value = 3> 3 </option>
                      <option value = 4> 4 </option>
                      <option value = 5> 5 </option>
                    </select>
                    <input type="submit">
                  </form>
                {% endif %}
                <div class="row" style="margin-left:5px;">
                  <!-- Edit/Delete Restaurant Review -->
                  {% if user.id == review.user.id %}
                    <a href="{% url "edit_restaurant_review" review.id %}">
                    <button type="button" class="btn btn-info btn-sm" style="background-color: rgb(8, 0, 129);">Edit Review</button> </a>
                    <a href="{% url "delete_restaurant_review" review.id %}">
                    <button type="button" class="btn btn-info btn-sm" style="background-color: rgb(8, 0, 129);">Delete Review</button> </a>
                  {% endif %}
                </div>
  						</div>
  					</div>
          {% endfor %}

			  </div>
			</div>

      <div class="modal fade" id="PhotoUpload" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title title">Upload a Photo</h4>
            </div>
            <div class="modal-body">
              <form action="{% url "add_restaurant_photo" restaurant.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="restaurant_photo" accept="image/*">
                <input type="submit" value="Submit">
              </form>
            </div>
          </div>

        </div>
      </div>

      <!-- Review Modal -->
      <div class="modal fade" id="WriteReview" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title title">Review</h4>
            </div>
            <div class="modal-body">
              <form action="{% url "add_restaurant_review" restaurant.id %}" method="post">
              {% csrf_token %}
                <textarea rows="5" style="margin:15px;width:90%;" name="restaurant_review"></textarea>
                <button type="submit" id="submit" class="btn btn-default formButton" style="margin-left:20px;background-color:rgb(8, 0, 129);color:rgb(255, 255, 255);">Submit Review</button>
              </form>
              <br>
            </div>
          </div>

        </div>
      </div>

      <!-- Page footer -->
      <br>

      <div>
        <div class="row naviBarBackground">
          <span style="font-size:16px;padding:10px;color:RGB(8,0,129);margin-top:15px;">Line Break</span>
        </div>
        <img src="{% static "images/logo.png" %}" alt="MakaNUS logo" class="img-responsive center-block" style="width:144px; height:55px; padding:10px;">
        <p style="text-align:center;"> © 2018 MakaNUS, all rights reserved. </p>
      </div>

    </div>

  </body>
<html>
