<!-- Signup form -->

<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
	<head>
	  <title>Sign Up for MakaNUS</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}">
	  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
			var check = function() {
				if (document.getElementById('password').value ==
					document.getElementById('password_again').value) {
					document.getElementById('message').style.color = 'green';
					document.getElementById('message').innerHTML = 'Password matches';
					document.getElementById('submit').disabled = false;
				} else {
					document.getElementById('message').style.color = 'red';
					document.getElementById('message').innerHTML = 'Password does not match';
					document.getElementById('submit').disabled = true;
				}
			}
		</script>
	</head>
	<body>

		<!-- page header -->
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<a href="{% url "index" %}" class = "navbar-brand">
						<img src="{% static "images/logo.png" %}" alt-"MakaNUS logo" width="216" height="60">
					</a>
				</div>
				<div class="col-sm-6">
					<br>
					<br>
					<form action="{% url "search" %}" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by keyword, location, cuisine, etc." name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
				</div>
				<div class="col-sm-1 col-sm-offset-2">
					<br>
					<br>
	        <a href="{% url "login" %}">
	        <button type="button" class="btn btn-info pull-right" style="background-color: rgb(8, 0, 129);">Login</button> </a>
				</div>
			</div>

			<br>

			<!-- Navigation bar -->
			<div class="row naviBarBackground">
				<a href="{% url "index" %}" class="naviBar"> <span class="glyphicon glyphicon-home"></span> Home</a>
				<span class="naviBar"> > </span>
				<span class="naviBar"> <strong> Sign Up </strong></span>
			</div>

      <div class="row">
        <h1 id="signUpTitle"> Sign up for MakaNUS </h1>
      </div>

			<!-- Signup form -->
      <div style="padding:15px;">
        <form action="{% url "signup" %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="firstName" class="words">First Name:</label>
              <input type="text" class="form-control" id="firstName" placeholder="First name" name="first_name" required>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="lastName" class="words">Last Name:</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last name" name="last_name" required>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="year" class="words">Year of schooling:</label>
              <select class="form-control" id="year" name="year">
                <option> Year 1 </option>
                <option> Year 2 </option>
                <option> Year 3 </option>
                <option> Year 4 </option>
								<option> Unspecified </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="faculty" class="words">Faculty:</label>
              <select class="form-control" id="faculty" name="faculty">
                <option> Faculty of Arts and Social Sciences </option>
                <option> Faculty of Dentistry </option>
                <option> Faculty of Engineering </option>
                <option> Faculty of Law </option>
                <option> Faculty of Science </option>
                <option> School of Business </option>
                <option> School of Computing </option>
                <option> School of Design and Environment </option>
                <option> Yale-NUS </option>
                <option> Yong Loo Lin School of Medicine </option>
                <option> Yong Siew Toh Conservatory of Music </option>
								<option> Unspecified </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="course" class="words">Course of Study:</label>
              <input type="text" class="form-control" id="course" placeholder="Course" name="course">
            </div>
          </div>
          <br>


          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="Email" class="words">Email:</label>
              <input type="email" class="form-control" id="Email" placeholder="Email" name="email" required>
            </div>
          </div>

					<div class="form-group row">
						<div class="col-sm-4 col-sm-offset-4">
							<label for="Username" class="words">Username:</label>
							<input type="text" class="form-control" id="Username" placeholder="Enter username" name="username" required>
						</div>
					</div>

          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="pwd" class="words">Password:</label>
              <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" onkeyup='check()' required>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="pwd" class="words">Confirm Password:</label>
              <input type="password" class="form-control" id="password_again" placeholder="Re-enter Password" name="password_again" onkeyup='check()' required>
							<span id='message'></span>
            </div>
          </div>

					<div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">
              <label for="aboutme" class="words">About Me: (Optional)</label>
              <input type="textarea" class="form-control" id="aboutme" placeholder="Write something about yourself" name="about_me">
            </div>
          </div>

					<div class="form-group row">
						<div class="col-sm-4 col-sm-offset-4">
							<label for="profilepic" class="words">Profile Picture:</label>
        			<input type="file" id="profilepic" name="profile_pic">
						</div>
					</div>

          <br>

          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <button type="submit" id="submit" class="btn btn-default formButton" style="background-color: rgb(8, 0, 129); color: rgb(255, 255, 255);">Sign Up</button>
            </div>
          </div>
        </form>
      </div>

      <br>

			<!-- Page footer -->
      <div>
				<div class="row naviBarBackground">
					<span style="font-size:16px;padding:10px;color:RGB(8,0,129);">Line Break</span>
				</div>
				<img src="{% static "images/logo.png" %}" alt="MakaNUS logo" class="img-responsive center-block" style="width:144px; height:55px; padding:10px;">
				<p style="text-align:center;"> © 2018 MakaNUS, all rights reserved. </p>
			</div>

    </div>
  </body>
</html>
