.bigWords {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: RGB(255, 255, 255);
  white-space: nowrap;
}

.banner {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.imgContainer {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.up-centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
